@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* {
    font-family: Fredoka, Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(46, 46, 46);
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    display: none;
    color: #ffffff;
    margin-bottom: 15px;
    font-size: 35px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    transform: translateZ(0);
    animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes mltShdSpin {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em,
            0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
            0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em,
            0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
            0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em,
            -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em,
            -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }

    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
            -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
            -0.749em -0.34em 0 -0.477em;
    }

    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
            -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
            -0.82em -0.09em 0 -0.477em;
    }

    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em,
            0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes round {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.start {
    margin-top: 40px;
    padding: 12px 16px;
    border-radius: 10px;
    border: none;
    background-color: rgb(156, 49, 255);
    color: white;
    font-size: large;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.start:hover {
    background-color: rgb(149, 36, 255);
}

.quiz-Container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 75vw;
    border-radius: 15px;
    background-image: linear-gradient(120deg, rgb(190, 190, 190), rgb(80, 80, 80));
}

.result {
    font-size: larger;
    padding: 7px;
    color: rgb(68, 0, 255);
}

.options div {
    margin: 20px 0;
    text-align: start;
}

.options div input,
.options div label {
    margin: 0 20px;
    font-size: large;
}

input,
.options label {
    cursor: pointer;
}

input[type="radio"] {
    accent-color: blue;
}

input[type="submit"],
.end {
    margin-top: 40px;
    height: 5vh;
    width: 8vw;
    border-radius: 10px;
    border: none;
    background-color: rgb(156, 49, 255);
    color: white;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input[type="submit"]:hover,
.end:hover {
    background-color: rgb(149, 36, 255);
    cursor: pointer;
}

input[type="submit"]:active,
.end:active {
    background-color: rgb(149, 36, 255);
}

.buttonDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin: auto;
}

.mT-20 {
    margin-top: 30px;
    font-size: large;
}

.rightAns {
    margin: 8px;
}

.question {
    cursor: auto;
}

.WrongAns {
    margin: 6px;
}

@media only screen and (max-width: 700px) {
    .quiz-Container {
        width: 100%;
        height: 100%;
    }

    .question {
        margin: 0 20px;
    }

    .options div input,
    .options div label {
        margin: 0 20px;
        font-size: 25px;
    }

    input[type="submit"],
    .end {
        width: 50%;
        height: 6vh;
        margin: 2px;
        font-size: 25px;
    }

    h3 {
        font-size: 28px;
    }

    .start {
        width: 50%;
        height: 6vh;
        font-size: 25px;
    }

    .buttonDiv {
        margin-top: 50px;
        flex-direction: column;
    }

    .buttonDiv>* {
        margin-top: 10px;
    }

    .result {
        font-size: 30px;
        text-align: center;
    }
}

@media only screen and (max-width: 430px) {
    h3 {
        width: 80%;
        text-align: center;
    }
}